@import "tailwindcss";

:root {
    --color-blue: #3D5786;
    --color-babyblue: #A4B6DD;
    --color-lightpurple: #A58ADA;
    --color-purple: #6E52A3;
    --color-mediumblue: #11142B;
    --color-darkblue: #030512;
  }

.bg-blue {
    background-color: var(--color-blue);
}

.bg-babyblue {
    background-color: var(--color-babyblue);
}

.text-babyblue {
    color: var(--color-babyblue);
}

.bg-purple {
    background-color: var(--color-purple);
}

.text-purple {
    color: var(--color-lightpurple);
}

.bg-darkblue {
    background-color: var(--color-darkblue);
}

.bg-mediumblue {
    background-color: var(--color-mediumblue);
}