@import 'tailwindcss';

:root {
  --color-blue: #3d5786;
  --color-babyblue: #a4b6dd;
  --color-lightpurple: #a58ada;
  --color-purple: #6e52a3;
  --color-semidarkpurple: #392f4d;
  --color-darkpurple: #251d35;
  --color-mediumblue: #11142b;
  --color-darkblue: #030512;
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-babyblue {
  background-color: var(--color-babyblue);
}

.text-babyblue {
  color: var(--color-babyblue);
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-semidarkpurple {
  background-color: var(--color-semidarkpurple);
}

.bg-darkpurple {
  background-color: var(--color-darkpurple);
}

.text-purple {
  color: var(--color-lightpurple);
}

.bg-darkblue {
  background-color: var(--color-darkblue);
}

.bg-mediumblue {
  background-color: var(--color-mediumblue);
}

body {
  scrollbar-width: thin;         
  scrollbar-color: #6e52a3 transparent; 
}