@import 'tailwindcss';

:root {
  --color-blue: #3d5786;
  --color-babyblue: #a4b6dd;
  --color-lightpurple: #b79af3;
  --color-purple: #6e52a3;
  --color-purple-2: #262240;
  --color-semidarkpurple: #392f4d;
  --color-darkpurple: #251d35;
  --color-mediumblue: #11142b;
  --color-lightblue: #8A9DBF;
  --color-darkblue: #030512;
  --color-darkblue-2: #151324;
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-lightblue {
  background-color: var(--color-lightblue);
}

.bg-babyblue {
  background-color: var(--color-babyblue);
}

.text-babyblue {
  color: var(--color-babyblue);
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-purple-2 {
  background-color: var(--color-purple-2);
}

.bg-semidarkpurple {
  background-color: var(--color-semidarkpurple);
}

.bg-darkpurple {
  background-color: var(--color-darkpurple);
}

.text-purple {
  color: var(--color-lightpurple);
}

.bg-darkblue {
  background-color: var(--color-darkblue);
}

.bg-darkblue-2 {
  background-color: var(--color-darkblue-2);
}

.bg-mediumblue {
  background-color: var(--color-mediumblue);
}

body {
  scrollbar-width: thin;
  scrollbar-color: #6e52a3 transparent;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate-slow {
  animation: rotateImage 15s linear infinite;
}

.animate-rotate-medium {
  animation: rotateImage 5s linear infinite;
}


.Modal{
  position: absolute;
  background-color: #fff;
  min-width: 40vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 1em;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.418);
  max-height: 90vh;
  overflow-y: auto;
}